@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);



*{margin: 0px; padding:0px;  font-family: "Open Sans", sans-serif;}

.video-js {position: absolute;
 
    width: 340px;
    height: 191px;border-radius: 15px 15px 0px 0px;background-color: transparent;}

.vjs-tech {border-radius: 15px 15px 0px 0px;background-color: transparent;}

.video-viewer {margin: auto;width: 340px;}

.channel-text {width: fit-content;float:left;    margin-left: 17px;
    margin-top: 6px;}

.channel-state {position: absolute;
    top: 218px;}

.channel-logo {width: 57px;
    margin-top: 2px;
    margin-left: 14px;
    float: left;
    height: 50px;
    object-fit: scale-down;
}



.channel-text > h3 {font-size: 15px;}

.channel-text > p {font-size: 13px;}

.video-container {background-color: white;
    height: 257px;
    margin-top: 20px;
    border-radius: 15px;box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.17);}

.img-container {width: 90px;height: 90px;justify-content: center;align-items: center;background-color: #F7F7F7;border-radius: 100px;}

.img-container >img {width: 70%;height: 100%;object-fit: scale-down;}

.channel-list {background-color: transparent;border: none;display: inline-block;margin-left: 8px;}

#items1 {overflow:scroll;white-space: nowrap;margin-top: 15px;}

.vert-spacer {display:inline-block;width: 5px;height: 100%;}